[user]
	username= threenary
	name = Gonzalo Gomez Sullain
[core]
	editor = nano -w	
	excludesfile = ~/.gitignore_global
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
[color]
    ui = true
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[alias]
